import React from "react";
// import {  } from "@mui/material";
// import {  } from "./{{nomeC}}.style";

export interface {{nomeC}}Props {}

const {{nomeC}}: React.FC<{{nomeC}}Props> = () => {
	return (
		<div>
			<div>{{nomeC}}</div>
		</div>
	);
};

export default {{nomeC}};
